.card
  {
	border:1px solid grey;
	box-shadow: 0 1px 10px 2px gray;
	padding-left:20px;
  font-family: 'Times New Roman';
  }
  .sectioncard
  {
  margin-top:15px;
  font-size:24px;
  font-family: 'Times New Roman';
  }
  .img-thumbnail {
    padding: 0px;
    line-height: 1.42857143;
    background-color: #fff;
    border: none;
    border-radius: 0px;
    display: inline-block;
    max-width: 100%;
    height: auto;
	width:260px;
}
.continuereading
{
color:#2381F6;
}
.card-body {
 padding:0px!important;
 font-size:18px
}
body
{
	padding-bottom:40px;
    background-color: snow;
}